	*{
		margin:0;
		padding:0;
	}
	a,u{
		text-decoration:none;
	}
	ul,ol,li{
		list-style: none;
	}
	body,html{
	    width: 100%;
		height: 100%;
	}
/*top*/
	#top{
		width: 100%;
		height:90px;
		margin: 0 auto;
	}
	#top-con{
		width:1263px;
		height:90px;
		margin: 0 auto;
		
	}
	#top-pic{
		height:100% ;
		width: 100%;
	}
	.pic1{
		display: block;
		width: 1920px;
		height: 90px;
		text-align: center;
		position:relative;
		left:50%;
		margin-left: -960px;
	}
	.pic2{
		background-position: 0 -385px;
		position: absolute;
		right: 20px;
		top:10px;
		cursor: pointer;
	}
/*dhl*/
	#dhl{
		width:1263px;
		height: 30px;
		margin: 0 auto;
	}
	#dhl-con{
		width:1263px;
		height: 30px;
		line-height: 30px;
		background: aquamarine;
	}
	#dhl-con li{
		float: left;		
	}
	#L{
		float: left;
	}
	#R{
		float: right;
	}
	#L li:first-child{
			padding-left: 0;
	}
	#L li a{
		font:12px/1.5 "Helvetica Neue",Helvetica,Arial,"Microsoft Yahei","Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei",sans-serif;
		cursor: pointer;
		border-right: 1px solid #e4e4e4;
		padding:0 8px;
	}
	#L .last{
		border-right:0;
	}
	.icon-appwaimai{
		padding:0 14px 0 14px;			
	}
/*header*/
	#header{
		width: 1263px;
		height: 50px;
	/*	line-height: 1.5px;或者给header-con 一个高度*/
		padding: 10px 0;
		font-family: "Helvetica Neue",Helvetica,Arial,"Microsoft Yahei","Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei",sans-serif;
		margin: 0 auto;
	}
	#header-con{
		width:1263px;
		height: 50px;
		background:white;
	}
	#header-con a{
		cursor: pointer;
	}
	.img-logo{
		float: left;
 	    margin-right: 40px;
   		width: 240px;
   		height: 50px;
	}
	.zuo{
		float: left;
	}
	.zuo ul{
		float: left;
		height:40px;
		margin-top:5px ;
	}
	.zuo li{
		float: left;
		margin-right:20px ;
	}
	.zuo a{
	    font-size: 16px;
   		color: #3a3a3a;
		display: block;/*display后可给a加宽高*/
		/*height: 50px;*/
		line-height: 40px;		
	}
	.you{
		float: right;
	}
	.search-bar{
		/*background: coral;*/
		margin-top: 14px;
   	}
	.search-bar-form{
		background: ;
   		width: 330px;
    	height: 27px;
    	/*background:#FAEBD7;*/	
	}
	.search-bar,.search-bar-form{
	    border-bottom: 1px solid #ddd;
    	width: 330px;
   		height: 27px;
    	/*line-height: 1px;*/
    	position: relative;
	}
	.search-bar-form .txt{
		background: #fff;
		border: 0;
		/*	color: #3a3a3a;*/
		width: 299px;
		padding-left: 11px;
		height: 27px;
		line-height: 27px;		
	}
	.search-bar-form .btn{
	    width: 20px;
	    height: 33px;
    	cursor: pointer;
    	border: 0;
    	text-indent: -9999px;
    	overflow: hidden;
    	position: absolute;
    	right:0px;
    	background: url(../img/fdj.jpg) no-repeat;
    	/*background-position: 0 -25px;*/	
	}
/*lunbo*/
	#lbt{
		margin: 0 auto;
	}
	#lbt-con{
		width: 100%;
		height: 450px;
		position: relative;
	}
	.lb{
		width: 1263px;
		height: 450px;
	}
	#lbt-con ul li{
		width: 100%;
		height: 450px;
		position: absolute;
	}
	#lbt ol{
		width:300px;
		height: 10px;
		position: absolute;
		bottom:30px;
		left: 50%;
		margin-left:-85px ;
		text-align: center;
	}
	#lbt-con ol li{
		float: left;
		margin-left: 10px;
		width:10px;
		height:10px;
		line-height: 10px;
		border-radius: 50%;
		border:1px solid #FFF;
		background: chartreuse;
	}
	#slide{
		width: 240px;
		height:450px;
		background: coral;
		position: absolute;
		left:0;
		top:0;
	}
	.slide-con li{
			width: 240px;
			height: 75px;
			display: block;
			/*float: left;*/
	}
