	*{
		margin:0;
		padding:0;
	}
	img{
		border:0;display: block;}
	input{outline: none;}
	a,u{
		text-decoration:none;
	}
	ul,ol,li{
		list-style: none;
	}
	body,html{
	    width: 100%;
		height: 100%;
	}
/*top*/
	#top{
		width: 100%;
		height:90px;
		margin: 0 auto;
	}
	#top-con{
		width:1200px;
		height:90px;
		margin: 0 auto;
		
	}
	#top-pic{
		height:100% ;
		width: 100%;
	}
	.pic1{
		display: block;
		width: 1920px;
		height: 90px;
		text-align: center;
		position:relative;
		left:50%;
		margin-left: -960px;
	}
	.pic2{
		background-position: 0 -385px;
		position: absolute;
		right: 20px;
		top:10px;
		cursor: pointer;
	}
/*dhl*/
	#dhl{
		width:1200px;
		height: 30px;
		margin: 0 auto;
	}
	#dhl-con{
		width:1200px;
		height: 30px;
		line-height: 30px;
		background: aquamarine;
	}
	#dhl-con li{
		float: left;		
	}
	#L{
		float: left;
	}
	#R{
		float: right;
	}
	#L li:first-child{
			padding-left: 0;
	}
	#L li a{
		font:12px/1.5 "Helvetica Neue",Helvetica,Arial,"Microsoft Yahei","Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei",sans-serif;
		cursor: pointer;
		border-right: 1px solid #e4e4e4;
		padding:0 8px;
	}
	#L .last{
		border-right:0;
	}
	.icon-appwaimai{
		padding:0 14px 0 14px;			
	}
/*header*/
	#header{
		width: 1200px;
		height: 50px;
	/*	line-height: 1.5px;或者给header-con 一个高度*/
		padding: 10px 0;
		font-family: "Helvetica Neue",Helvetica,Arial,"Microsoft Yahei","Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei",sans-serif;
		margin: 0 auto;
	}
	#header-con{
		width:1200px;
		height: 50px;
		background:white;
	}
	#header-con a{
		cursor: pointer;
	}
	.img-logo{
		float: left;
 	    margin-right: 40px;
   		width: 240px;
   		height: 50px;
	}
	.zuo{
		float: left;
	}
	.zuo ul{
		float: left;
		height:40px;
		margin-top:5px ;
	}
	.zuo li{
		float: left;
		margin-right:20px ;
	}
	.zuo a{
	    font-size: 16px;
   		color: #3a3a3a;
		display: block;/*display后可给a加宽高*/
		/*height: 50px;*/
		line-height: 40px;		
	}
	.you{
		float: right;
	}
	.search-bar{
		/*background: coral;*/
		margin-top: 14px;
   	}
	.search-bar-form{
		background: ;
   		width: 330px;
    	height: 27px;
    	/*background:#FAEBD7;*/	
	}
	.search-bar,.search-bar-form{
	    border-bottom: 1px solid #ddd;
    	width: 330px;
   		height: 27px;
    	/*line-height: 1px;*/
    	position: relative;
	}
	.search-bar-form .txt{
		background: #fff;
		border: 0;
		/*	color: #3a3a3a;*/
		width: 299px;
		padding-left: 11px;
		height: 27px;
		line-height: 27px;		
	}
	.search-bar-form .btn{
	    width: 20px;
	    height: 33px;
    	cursor: pointer;
    	border: 0;
    	text-indent: -9999px;
    	overflow: hidden;
    	position: absolute;
    	right:0px;
    	background: url(../img/fdj.jpg) no-repeat;
    	/*background-position: 0 -25px;*/	
	}
/*lunbo*/
	#naver{
		margin: 0 auto;
	}
	#layout{
		width:1200px;
		height: 450px;
		position: relative;
		margin: 0 auto;
	}	
	#cate{
		width: 240px;
		height:42px;
		background: coral;
		z-index: 410;
		position: absolute;
		left:0;
		top:0;
	}
	.slide{
		height:450px;
		background: cadetblue;
		position: relative;
	}
	.slide li{
		height: 75px;
	}
	#layout .dt{
		width:1200px;
		height: 450px;
	}
	#layout .dt li{
		width: 100%;
		height: 450px;
		position: absolute;
	}
	.lb{
		width: 1200px;
		height: 450px;
	}
	.lb-con{
		width: 1200px;
		height: 450px;
		position: absolute;
	}
	.lb ol{
		width:300px;
		height: 10px;
		position: absolute;
		bottom:30px;
		left: 50%;
		margin-left:-85px ;
		text-align: center;
	}
	.lb ol li{
		float: left;
		margin-left: 10px;
		width:10px;
		height:10px;
		line-height: 10px;
		border-radius: 50%;
		border:1px solid #FFF;
		background: chartreuse;
	}
	.bl{
		display: block;
	}
	#cate #ty{
		padding:10px 16px;
		height:55px;
		position: relative;
	}
	#ty a{
	 	margin-right:8px ;
	 	font-size: 14px;
	 	cursor: pointer;
	 }
	#ty i{
		display: block;
		width:7px;
		height:13px;
		margin-top:3px ;
		position: absolute;
		right:10px;
		background:url(../img/icon-common.png);
		background-position:-9px -214px ;
		top:50%;
	} 
	#cebian{
		position: absolute;
		top:0;
		left: 240px;
		width:648px;
		height: 448px;
		/*display: none;*/
		border-top: 1px solid #eaeaea;
    	border-bottom: 1px solid #eaeaea;
    	/*background: #fff;*/
	}
	#cebian .top{
		width:580px;
		height: 30px;
		line-height:30px;
		padding:20px 28px 20px 40px;
		/*background: pink;*/
	}
	#cebian .top a{
		display: block;
		width:580px;
		height:30px;
		line-height: 30px;
		font-size: 14px;
		color: #ca151d;
		cursor:pointer;	
	}
	#cebian .body{
		width:580px;
		padding:36px 28px 0 40px ;
		border-top:1px slid #eaeaea;
/*		background:blueviolet;*/
	}
	#cebian .bottom{
		width:648px;
		height:236px;
		border-top:1px slid #eaeaea;
		position: absolute;
		bottom:0;
		left: 0;
		/*background: burlywood;*/
	}
	.body li{
		float: left;
	}
	.lm a{
		display: block;
		padding-right: 30px;
		font-size: 14px;
		color:#3a3a3a;
		cursor: pointer;
	}
/*home
	#home-con .ls{
		margin:0 auto;
		width:1200px;
		height: 97px;
		border:1px solid #eaeaea;
		/*text-align: center;
	}
	.ls-1{
		margin: 13px 0;
	}
	#one{
		position: absolute;
		padding:0 18px 7px 22px;
		/*color:#666;
		background:pink;
	}
	#one .imgs{
		margin:6px 0 0 0;
		float: left;
	}
	.he{
		padding-left: 20px!important;
	}
	.s{
		text-align: left;
		margin-top:8px ;
		padding: 0 18px 0 10px;
		line-height: 1.3;
	}
	.x{
		margin-top:6px ;
	}
	.x a{
		background: #fff;
		color:#ca141d;
		margin-right: 10px;
	}*/
#home-con .ls{
	margin: 0 auto;
	width: 1200px;
	height: 97px;
	border:1px solid #eaeaea;
	border-top:#DEB887 ;
}
.ls-1{
	width:288px;
	height:72px;
	background: pink;
	/*position: absolute;*/
}
.imgs{
	width: 59px;
	height: 59px;
	margin:6px 0 0 0;
	float: left;
	/*.x浮动不上去是因为img没给浮动!!!*/
}
.imgs img{
	width:100%;
}
.ls-1 .he{
	float:left ;
}
.s{
	width:168px;
	font-size: 12px;
	color: #a4a4a4;
}
.s a{
	color:#3A3A3A;
	cursor: pointer;
}
.x a{
	display: inline-block;
	width:58px;
	height:18px;
	line-height: 18px;
	font-size: 12px;
	color:#ca141d;
	border:1px solid #ca141d;
	text-align: center;
	cursor: pointer;
}
