	*{
		margin:0;
		padding:0;
	}
	img{
		border:0;display: block;}
	input{outline: none;}
	a,u{
		text-decoration:none;
	}
	ul,ol,li{
		list-style: none;
	}
	body,html{
	    width: 100%;
		height: 100%;
	}
/*top*/
	#top{
		display: block;
	}
	#top-con{
		width:1200px;
		height:90px;
		margin: 0 auto;
		
	}
	#top-pic{
		height:100% ;
		width: 100%;
	}
	.pic1{
		display: block;
		width: 1920px;
		height: 90px;
		text-align: center;
		position:relative;
		left:50%;
		margin-left: -960px;
	}
	.pic2{
		background-position: 0 -385px;
		position: absolute;
		right: 20px;
		top:10px;
		cursor: pointer;
	}
/*dhl*/
	#dhl{
		display: block;
	}
	#dhl-con{
		width:1200px;
		height: 30px;
		line-height: 30px;
		margin: 0 auto;
	}
	#dhl-con li{
		float: left;		
	}
	#dhl-con a{
		font:12px/1.5 "Helvetica Neue",Helvetica,Arial,"Microsoft Yahei","Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei",sans-serif;
		cursor: pointer;
		padding:0 6px;
		color: #A4A4A4;
		border-right: 1px solid #e4e4e4;
	}
	#dhl-con a:hover{
		color: red;
	}
	#L{
		float: left;
		position: relative;
	}
	#R{
		float: right;
		position: relative;
	}
	#R li .gg{
		border-right: 0;
	}
	#R .gwcc{
		width:14px;
		height: 14px;
		overflow: hidden;
		position: absolute;
		left:155px;
		top:9px;
	}
	#R .gwc{
		padding: 5px 0px 0 20px;
		border-right:0;
	}
	#L .last{
		border-right:0;
	}
/*header*/
	#header{
		display: block;
	/*	line-height: 1.5;或者给header-con 一个高度*/
		padding: 10px 0;
		font-family: "Helvetica Neue",Helvetica,Arial,"Microsoft Yahei","Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei",sans-serif;
	}
	#header-con{
		margin: 0 auto;
		width:1200px;
		height: 50px;
		background:white;
	}
	#header-con a{
		cursor: pointer;
	}
	.img-logo{
		float: left;
 	    margin-right: 40px;
   		width: 240px;
   		height: 50px;
	}
	.zuo{
		float: left;
	}
	.zuo ul{
		float: left;
		height:40px;
		margin-top:5px ;
	}
	.zuo li{
		float: left;
		margin-right:20px ;
	}
	.zuo a{
	    font-size: 16px;
   		color: #3a3a3a;
		display: block;/*display后可给a加宽高*/
		/*height: 50px;*/
		line-height: 40px;		
	}
	.you{
		float: right;
	}
	.search-bar{
		/*background: coral;*/
		margin-top: 14px;
   	}
	.search-bar-form{
		background: ;
   		width: 330px;
    	height: 27px;
    	/*background:#FAEBD7;*/	
	}
	.search-bar,.search-bar-form{
	    border-bottom: 1px solid #ddd;
    	width: 330px;
   		height: 27px;
    	/*line-height: 1px;*/
    	position: relative;
	}
	.search-bar-form .txt{
		background: #fff;
		border: 0;
		/*color: #3a3a3a;*/
		width: 299px;
		padding-left: 11px;
		height: 27px;
		line-height: 27px;		
	}
	.search-bar-form .btn{
	    width: 20px;
	    height: 33px;
    	cursor: pointer;
    	border: 0;
    	text-indent: -9999px;
    	overflow: hidden;
    	position: absolute;
    	right:0px;
    	background: url(../img/fdj.jpg) no-repeat;
    	/*background-position: 0 -25px;*/	
	}
/*lunbo*/
	#naver{
		display: block;
	}
	#layout{
		width:1200px;
		height: 450px;
		position: relative;
		margin: 0 auto;
	}	
	#cate{
		width: 240px;
		height:42px;
		z-index: 410;
		position: absolute;
		left:0;
		top:0;
	}
	#cate a{
		cursor:pointer;
	}
	.slide{
		height:450px;
		background-color: rgba(0,0,0,0.6);
		position: relative;
	}
	.slide .cb{
		height: 75px;
	}
	#layout .dt{
		width:1200px;
		height: 450px;
	}
	#layout .dt li{
		width: 100%;
		height: 450px;
		position: absolute;
	}
	.lb{
		width: 1200px;
		height: 450px;
	}
	.lb-con{
		width: 1200px;
		height: 450px;
		position: absolute;
	}
	.lb-con a{
		width:100%;
		height: 450px;
		display: block;
		cursor: pointer;
	}
	.lb-con img{
		position: absolute;
		left:50;
		top:0;
	}
	.lb ol{
		width:300px;
		height: 10px;
		position: absolute;
		bottom:30px;
		left: 50%;
		margin-left:-85px ;
		text-align: center;
	}
	.lb ol li{
		float: left;
		margin-left: 10px;
		width:10px;
		height:10px;
		line-height: 10px;
		border-radius: 50%;
		border:1px solid #FFF;
	}
	.acc{
		background: red;
	}
	/*这里要注意权重的问题，直接写成.acc*/
	.bl{
		display: block;
	}
	#cate #ty{
		padding:10px 16px;
		height:55px;
		position: relative;
	}
	.cb .active{
		background: gray;
	}
	#ty .a{
	 	margin-right:8px ;
	 	font-size: 14px;
	 	color: gray;
	 	cursor: pointer;
	 }
	 #ty .active{
	 	color: white;
	 }
	#ty i{
		display: block;
		width:7px;
		height:13px;
		margin-top:3px ;
		position: absolute;
		right:10px;
		background:url(../img/icon-common.png);
		background-position:-9px -214px ;
		top:50%;
	} 
	#cebian{
		position: absolute;
		top:0;
		left: 240px;
		width:648px;
		height: 448px;
		display: none;
		border-top: 1px solid #eaeaea;
    	border-bottom: 1px solid #eaeaea;
    	background: #fff;
	}
	#cebian .none{
		display:none;
	}
	#cebian .top{
		width:580px;
		height: 30px;
		line-height:30px;
		padding:20px 28px 20px 40px;
	/*	background: palevioletred;*/
	}
	#cebian .top a{
		display: block;
		width:580px;
		height:30px;
		line-height: 30px;
		font-size: 14px;
		color: #ca151d;
		cursor:pointer;	
	}
	#cebian .top .next{
		float: right;
	}
	#cebian .body{
		width:580px;
		padding:36px 28px 0 40px ;
		border-top:1px slid #eaeaea;
		/*background: burlywood;*/
	}
	#cebian .body .lm{
		float: left;/
		vertical-align: top;
		/*position: relative;*/
	}
	.lm a{
		display: block;
		padding-right: 30px;
		font-size: 14px;
		color:#3a3a3a;
		cursor: pointer;
		padding-bottom:38px ;
		line-height:1;
	}
	#cebian .bottom{
		width:648px;
		height:236px;
		border-top:1px slid #eaeaea;
		position: absolute;
		bottom:0;
		left: 0;
		/*background: dodgerblue;*/
	}
	#cebian .bottom li{
		float: left;
		width: 25%;
		height: 236px;
	}
	#cebian .bottom li a{
		display: inline-block;
		/*a:inline-block*/
		width: 100%;
		height: 100%;
		text-align: center;
		cursor: pointer;
	}
	#cebian .bottom .bo1{
		width:118px;
		height: 118px;
		margin: 26px auto 0;
	}
	#cebian .bottom .bo1 img{
		/*width:100%;
		height: 100%;*/
		width:118px;
		height: 118px;
	}
	#cebian .bottom .bo2{
		width: 129px;
		height: 42px;
		line-height: 1.1;
		font-size: 14px;
		font-weight: 400;
		color: #3A3A3A;
		margin: 16px 20px 2px;
		padding: 0 16px 0 16px;
	}
	#cebian .bottom .bo3{
		font-size: 14px;
		font-weight: 400;
		  color: #cc0e11;
	}
/*home*/
	#home-con .ls{
		margin: 0 auto;
		width: 1200px;
		height: 97px;
		border:1px solid #eaeaea;
		border-top:0 ;
		background: indianred;
	}
	#home-con .ls .lss{
		float: left;
		position: relative;
	}
	.ls-1{
		width:288px;
		height:72px;
		background: pink;
		margin: 13px 0;
	}
	.zzz{
		padding:0 18px 7px 22px;
		text-align: left;
		
	}
	.imgs{
		width: 59px;
		height: 59px;
		margin:6px 0 0 0;
		float: left;
	}
	.imgs img{
		width:100%;
	}
	.ls-1 .he{
		float:left ;
		padding-left: 20px;
	}
	.sh{
		width:168px;
		font-size: 12px;
		color: #a4a4a4;
		margin-top:8px ;
		line-height: 1.3;
	}
	.sh a{
		color:#3A3A3A;
		cursor: pointer;
	}
	.x{
		margin-top:6px ;
	}
	.x a{
		display: inline-block;
		width:58px;
		height:18px;
		line-height: 18px;
		font-size: 12px;
		color:#ca141d;
		border:1px solid #ca141d;
		text-align: center;
		cursor: pointer;
		margin-right:10px ;
		/*background: #fff;*/
	}
	.ls-2{
		width:602px;
		height: 72px;
		border-left: 1px solid #EAEAEA;
		margin: 13px 0;
		background: #A4A4A4;
	}
	.ls-2 li{
		float: left;
		height:72px;
		width: 16.6666667%;;
		text-align: center;
		padding-top:8px ;
		/*position: relative;*/
		background: darkorange;
	}
	.ig{
		width: 40px;
		height: 40px;
		overflow: hidden;
		margin: auto auto;
		/*position:absolute;*/
	}
	.ig1 {
		background: url(../img/jlt.png) no-repeat 0 0;
	}
	.ig2 {
		background: url(../img/jlt.png) no-repeat -40px 0;
	}
	.ig3 {
		background: url(../img/jlt.png) no-repeat -80px 0;
	}
	.ig4 {
		background: url(../img/jlt.png) no-repeat -120px 0;
	}
	.ig5 {
		background: url(../img/jlt.png) no-repeat -160px 0;
	}
	.ig6 {
		background: url(../img/jlt.png) no-repeat -200px 0;
	}
	
	.wz{
		font-size: 12px;
		line-height: 12px;
		line-height: 20px;
		color:#3A3A3A;
	}


	.ls-3{
		width:301px;
		height:98px;
		border-left:1px solid #EAEAEA;
		float: left;
	}
	.shang{
		height: 48px;
		border-bottom:1px solid #EAEAEA;
	}
	.ls-3 .sz{
		width:58px ;
		height: 48px;
		line-height: 48px;
		float: left;
	}
	.ls-3 .sy{
		width:243px;
		height:48pxpx;
		text-align: left;
		overflow: hidden;
	}
	.ls-3 .gd{
		height: 240px;
	}
	.gd li{
		width:243px;
		height:48px;
		line-height: 48px;
		font-size: 14px;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;/*文本溢出三连用：white-space：nowrap；overflow:hidden;text-overfolw:hidden*/
		display: none;
	}
	.xia li{
		height: 48px;
		line-height: 48px;
		width:33.3333%;
		font-size: 12px;
		float: left;
		position: relative;
	}
	.xia a{
		display: block;
		text-align: center;
		cursor: pointer;
	}
	.xia a span{
		display: inline-block;
		width:20px;
		height:20px;
		overflow: hidden;
		position: relative;
		top:6px;
		margin-right: 6px;
	}
	.xia img{
		width:auto;
		height: auto;
		position: absolute;
	}
	.xia .jl1{
		left:-240px;
	}
	.xia .jl2{
		left:-260px;
	}
	.xia .jl3{
		left:-280px;
	}
/*tiao*/
#tiao{
	display: block;
}
#tiao-con{
	height: 12px;
	background: #FF8C00;
	margin: 0 auto;
}
/*duilian*/
#dll{
width:1200px;
margin: 0 auto;
}
#dll ul{
	margin:0 -6px;
}
#dll li{
	float: left;
	width: 291px;
	height: 160px;
	margin: 0 6px;
	transition:box-shadow 0.2s linear;
}
#dll li a{
	display: block;
	height: 160px;
}
#dll li img{
	width:291px;
	height:160px;
	cursor: pointer;
}
#dll li img:hover{
	box-shadow: 0 0 5px 0 #ccc;
	/*transition:box-shadow 2s linear ;*/
}
/*rexiao*/
#wrap{
	width: 100%;
	background: #f5f5f5;
}

#hot-con{
	width: 1200px;
	margin: 0 auto;
}
.tt{
	color:#333333;
	position: relative;
}
.tt h2{
	font-size:22px ;
	font-weight: 400;
	color: #3a3a3a;
	padding: 30px 0 15px 0;
	line-height: 22px;
	/*或者line-height:1*/	
}
.clear{
	display: block;
	clear: both;
	}/*这里解决高度塌陷：ul*/
.bb{
	width: 1200px;
	height:590px;
	position: relative;
}
.bb .zb{
	width:232px;
	float: left;
}
.bb .zub{
	width:232px;
	height:590px;
}
.zb ul{
/*	margin:0 0 -10px -10px;*/
}
.bb .yb{
	width: 968px;
	float: left;
}
.yb ul{
	display: block;
}
.yb  li{
	width:232px ;
	height:290px;
	float: left;
	position:relative;
	margin:0 0 10px 10px;
	background: white;
    
}
.yb li a{
	display: inline-block;
	width:100%;
	height:100%;
	text-align: center;
	cursor: pointer;
}
.yb li img{
	width:134px;
	height: 134px;
	margin: 34px auto 0;
}
.dx{
	font-size: 14px;
	font-weight:400;
	color:#3a3a3a;
	height: 40px;
	margin:16px 20px 2px;
	
}
.dz{
	font-size: 12px;
	color:#a4a4a4;
	font-weight: 400;
}
.dd{
	font-size: 14px;
	color:#cc0e11;
	font-weight: 400;
}
/*jingpin*/
#jp{
	display: block;
	/*margin:0 auto;*/
}
#jp-con{
	width:1200px;
	margin:0 auto;
}
.hh h2{
	font-size:22px ;
	font-weight: 400;
	color: #3a3a3a;
	padding: 30px 0 15px 0;
	line-height: 22px;
}
.big{
	width:1200px;
}
.big-con{
	width:1200px;
	height:305px ;
	overflow: hidden;
	margin: 0 auto;
	position: relative;
}
.big-con ul{
	width: 5236.36px;
	height: 305px;
	background: #f5f5f5;
	/*position: relative;*/
}
.big-con li{
	width:217px;
	height: 290px;
	float:left;
	background: #fff;
	margin-left: 1px;
	position: relative;
}
.big-con a{
	display: inline-block;
	/*需要转成行内快元素？？？？*/
	width: 100%;
	height: 100%;
	text-align: center;
	cursor: pointer;
	background:#fff;
}
.big-con  img{
	width:134px;
	height: 134px;
	margin: 34px auto 0;
}
.jix{
	font-size: 14px;
	font-weight:400;
	color:#3a3a3a;
	height: 40px;
	margin:16px 20px 2px;
	
}
.jiz{
	font-size: 12px;
	color:#a4a4a4;
	font-weight: 400;
}
.jid{
	font-size: 14px;
	color:#cc0e11;
	font-weight: 400;
}
.spl {
	width:24px;
	height:75px;
	position: absolute;
	left: 0;
	top:35%;
	margin-top:-37.5px ;
	background: red;
	cursor: pointer;
	
}
.spl span{
	display: block;
	width:11px;
	height: 16px;
	margin:28px auto;
	position:absolute;
	background: url(../img/icon-common.png) no-repeat ;
	background-position: -101px -1px;
}

.spr{
	width:24px;
	height:75px;
	position: absolute;
	right: 0;
	top:35%;
	margin-top:-37.5px ;
	background: red;
	cursor: pointer;
	
}
.spr span{
	display: block;
	width:11px;
	height: 16px;
	margin:28px auto;
	position:absolute;
	background: url(../img/icon-common.png) no-repeat ;
	background-position: -112px 0;
}
.ti{
	display: block;
}
.ti-con{
	margin:0 auto;
	height: 10px;
	background: #f5f5f5;
}


/*zailunbo*/
#lun{
	display: block;
}
#lun-con{
	margin: 0 auto;
	width:1200px;
	height: 120px;
}


/*shouji*/
#shou{
	display: block;
	position: relative;
}
#shou-con{
	width:1200px;
	margin:0 auto;
	background: #F5F5F5;
}
#shou-con a{
	cursor: pointer;
}
.zs{
	margin:22px 0 12px;
	line-height: 36px;
}
.zs h2{
	display: block;
	/*zheli*/
	color:#333;
	font-size: 24px;
	font-weight: 400;
	float: left;
}
.zs ul{
	float: left;
	margin-left: 28px;
}
.clear{
	display: block;
	clear:both;
}
.zs ul li{
	float: left;
	font-size: 12px;
	/*background: #f5f5f5;*/
}
.zs ul li a{
	display: inline-block;
	font-size: 16px;
	color: #a4a4a4;
	margin:0 10px;
	cursor: pointer;
	position: relative;
	background: #f5f5f5;
}
.zs .zss{
	float: right;
}
.zss a{
	padding: 0 14px;
	font-size: 18px;
	color: #666;
	cursor: pointer;
	text-align: center;
}

.zx{
	display: block;
	clear: both;
}
.zx{
	margin-top: -12px;
	margin-left:-12px ; 
	overflow: hidden;
}
.zx ul{
	margin: 0 auto;
	height: 100%;
}
.zx ul li{
		margin-top: 12px;
		margin-left:12px ;
		background: #fff;
} 
 .diz{
	width:291px;
	height: 346px;
	float: left;
}
.diz a{
	display: inline-block;
	width: 100%;
	height: 100%;
}
 .xt{
	width:291px;
	height: 346px;
	text-align: center;
	/*margin: 12px 0 0 12px;*/
	float: left;
}
.zx li img{
	width:100%;
	height: 100%;
	
}
.zx .xt p{
	width: 160px;
	height: 160px;
	margin: 40px auto 0;
}
.zx .xt span{
	display: block;
}
.sp01{
	width: 259px;
	height: 40px;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.1;
	padding-top: 26px;
	margin: 17px 20px 2px;
}
.sp02{
	font-size: 12px;
	font-weight: 400;
	color: #A4A4A4;
	margin: 2px 20px 6px;
}
.sp03{
	font-size: 14px;
	font-weight: 400;
	color: #cc0e11;
	margin: 0 20px 20px;
}
#tit{
	height:20px;
	line-height: 1px;
}


.pdd{
	padding-top:12px!important ;
}


.znj{
	width: 594px;
	height: 346px;
	float: left;
}

/*tp*/

#tp{
	width:1200px;
    background-color: #f5f5f5;
    margin: 0 auto;
}
#tp-cc{
	margin: 0 auto;
}
#tp-cc a{
	cursor: pointer;
}
#tiy{
	height:60px;
	line-height: 1px;
}

#last1{
	width: 100%;
	line-height: 1.5;
	border-top: 1px solid #EEEEEE;
	font-family: "Helvetica Neue",Helvetica,Arial,"Microsoft Yahei","Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei",sans-serif; 
	background: #F0f0f0;
}

#last1 ul{
	display: block;
}
#last1 li{
	float: left;
	width: 300px;
	height: 47px;
	line-height: 47px;
	font-size: 18px;
	color: #3a3a3a;
    text-align: left;
}

#last1 li i{
	display: inline-block;
	width: 47px;
	height: 47px;
	line-height: 47px;
    margin-right: 16px;
    vertical-align: middle;
}
